<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Amazon Reviews Project</title>
        <meta name="description" content="Analysis of Amazon's Fine Food Reviews"/>
        <meta name="keywords" content="Amazon, Fine Foods, Reviews, Machine Learning"/>
        <meta name="author" content="<author>" />
        <meta name="copyright" content="<author>" />
        <meta name="robots" content="index"/>
        <meta name="robots" content="follow"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" href="./static/css/normalize.css"/>
        <link rel="stylesheet" href="./static/css/skeleton.css"/>
        <link rel="stylesheet" href="./static/css/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="/images/icon.png">
    </head>
    
    <!-- Navigation -->

    <body>
    <div class="container">
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Overview</a>
            <div class="dropdown">
                <button class="dropbtn">Components
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/dataset">Dataset</a>
                    <a href="/data-preparation">Data Preparation</a>
                    <a href="/data-modelling">Data Modelling</a>
                    <a href="/intertopic">Intertopic</a>
                    <a href="/individual-project">Individual Project</a>
                    <a href="/milestones">Milestones</a>
                    <a href="/citations">Citations</a>
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

            <div style="clear: both">
                &nbsp;

                {% block content%}{% endblock %}

            </div>

        <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>

        </div>
    </body>
</html>
