{% extends "layouts/main.html" %}
{% block head %}
{% endblock %}

{% block content%}


</body>

<h2>Citations</h2>
<h4><u>Dataset:</u></h4>
<p>J. McAuley and J. Leskovec. From amateurs to connoisseurs: modeling the evolution of user expertise through online reviews. WWW, 2013.</p>

<h4><u>Data Modelling:</u></h4>
<h7>LTSM Sequence Classification using Recurrent Neural Networks</h7>
<p>Brownlee, J. (2022, August 7). Sequence Classification with LSTM recurrent neural networks in python with keras. MachineLearningMastery.com. https://machinelearningmastery.com/sequence-classification-lstm-recurrent-neural-networks-python-keras/ </p>
<p>Li, S. (2019, April 10). Multi-class text classification with LSTM. Medium. https://towardsdatascience.com/multi-class-text-classification-with-lstm-1590bee1bd17</p>

<h7>Bagging, Boosting, and Stacking - Ensemble Learning</h7>
<p>Brownlee, J. (2021, April 26). How to develop a bagging ensemble with python. MachineLearningMastery.com. https://machinelearningmastery.com/bagging-ensemble-with-python/</p>
<p>Brownlee, J. (2021b, May 4). Essence of boosting ensembles for machine learning. MachineLearningMastery.com. https://machinelearningmastery.com/essence-of-boosting-ensembles-for-machine-learning/</p>
<p>Brownlee, J. (2021b, April 26). Stacking Ensemble Machine Learning with python. MachineLearningMastery.com. https://machinelearningmastery.com/stacking-ensemble-machine-learning-with-python/</p>

<h4><u>Web Development Structure & Tutorial:</u></h4>
<h7>Visuals, Style Sheets</h7>
<p>Blago, A. (2022b, September 5). Build your own mobile-friendly website with Flask. Medium. https://python.plainenglish.io/build-your-own-mobile-friendly-website-with-flask-6fe208f029d9</p>
<h7>Flask App & GitHub Directory Setup</h7>
<p>Birchard, T. (2022, May 29). Integrate plotly dash into your Flask App. Hackers and Slackers. https://hackersandslackers.com/plotly-dash-with-flask/</p>

</body>
{% endblock %}
