{% extends "layouts/main.html" %}
{% block head %}
{% endblock %}

{% block content%}


</body>

<h2>Citations</h2>
<h4><u>Dataset:</u></h4>
<p>J. McAuley and J. Leskovec. From amateurs to connoisseurs: modeling the evolution of user expertise through online reviews. WWW, 2013.</p>

<h4><u>Web Development Structure & Tutorial:</u></h4>
<p>Blago, A. (2022b, September 5). Build your own mobile-friendly website with Flask. Medium. https://python.plainenglish.io/build-your-own-mobile-friendly-website-with-flask-6fe208f029d9</p>

</body>
{% endblock %}
