{% extends "layouts/main.html" %}
{% block head %}
{% endblock %}

{% block content%}


</body>


<html lang="en">
  <h7>Data Modelling 1</h7>
  <iframe src="https://drive.google.com/file/d/1Joge4HF5ou721YnvDgUcMyOe50BEiup6/preview" width="100%" height="600px" allow="autoplay"></iframe>
  <h7>Data Modelling 2</h7>
  <iframe src="https://drive.google.com/file/d/1q3rhjuI8wSBdWg9QQqHlOxcpL4l3GNCw/preview" width="100%" height="600px" allow="autoplay"></iframe>
  <h7>Data Modelling 3</h7>

</html>

{% endblock %}
