{% extends "layouts/main.html" %}
{% block head %}
{% endblock %}

{% block content%}


</body>


<html lang="en">
  <h5>Data Modelling 1</h5>
  <h7>Model 1: Naive Bayes Classifier with Textblob + Model 2: Logistic Regression using TD-IDF</h7>
  <iframe src="https://drive.google.com/file/d/1Joge4HF5ou721YnvDgUcMyOe50BEiup6/preview" width="100%" height="600px" allow="autoplay"></iframe>
  <h5>Data Modelling 2</h5>
  <h7>Model 3: Gradient Boosting Regressor + Model 4: Locally Interpretable Model-agnostic Explanations (LIME)</h7>
  <iframe src="https://drive.google.com/file/d/1q3rhjuI8wSBdWg9QQqHlOxcpL4l3GNCw/preview" width="100%" height="600px" allow="autoplay"></iframe>
  <h5>Data Modelling 3</h5>
  <h7>Model 5: Sequence Classification with LTSM Recurrent Neural Networks</h7>
  <iframe src="https://drive.google.com/file/d/1PFBWxGIfVWY7_Jr4bUYdijSre-nZlK_k/preview" width="100%" height="600px" allow="autoplay"></iframe>

</html>

{% endblock %}
