{% extends "layouts/main.html" %}
{% block head %}
{% endblock %}

{% block content%}


</body>

<h5>Amazon Fine Food Reviews</h5>
<p>GC and MJ - York University - Certificate in Machine Learning</p>
<br>
<b><u>Project Overview</u></b>
<p>We are currently enrolled in a Certificate of Machine Learning program at York University.  We are doing this project as part of our second course: CSML1010 Applied Machine Learning and Lifecycle.</p>

<b><u>Problem Statement</u></b>
<p>We would like to assess the Amazon Reviews to identify top terms customers are using in their reviews to be able to a) have a better sense of what is most important to customers, and b) if there are any insights to be deduced from the product reviews.</p>
<a href="https://www.kaggle.com/datasets/snap/amazon-fine-food-reviews" target="_blank">Kaggle Dataset for Amazon Fine Food Reviews</a>
</body>

<p></p><b><u>Here is a snapshot of the Timeline of Deliverables:</u></b></p>
<img src="https://github.com/oklawyer71/AmazonReviews/blob/main/app/templates/images/Current_Status.png?raw=true" class="images" alt="Delivery Milestones">

<p><b><u>Here is a snapshot of our project in terms of the CRISP-DM Framework:</u></b></p>
<img src="https://github.com/oklawyer71/AmazonReviews/blob/main/app/templates/images/CRISP_DM_Current.png?raw=true" class="images" alt="CRISP-DM Framework">
</body>
{% endblock %}
