{% extends "layouts/main.html" %}
{% block head %}
{% endblock %}

{% block content%}


</body>

<h5>Amazon Fine Food Reviews</h5>

<p>GC and MJ - York University - Certificate in Machine Learning</p>

<br>

<a href="https://www.kaggle.com/datasets/snap/amazon-fine-food-reviews" target="_blank">Kaggle Dataset for Amazon Fine Food Reviews</a>

<br>
<h7>Problem Statement</h7>
<p>We would like to assess the Amazon Reviews to identify top terms customers are using in their reviews to be able to a) have a better sense of what is most important to customers, and b) if there are any insights to be deduced from the product reviews.</p>
</body>
<br>

<img src="https://github.com/oklawyer71/AmazonReviews/blob/main/app/templates/data_snapshot.png?raw=true">

{% endblock %}
